/* CustomToken.css */

.custom-token {
    display: inline-block;
    margin: 4px;
    padding: 6px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* 선택된 토큰 스타일링 */
.custom-token.selected {
    background-color: #28a745;
}

.close-button {

}